@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Mada');
@import url(http://fonts.googleapis.com/css?family=Lato);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container:after {
  content: '';
  display: table;
  clear: both;
}
html {
  font: 16px sans-serif;
}
.preheader {
  background-color: #3bbdfb;
  padding-top: 3px;
  padding-bottom: 1px;
  color: #fff;
  font-size: 12px;
}
.preheader .nav {
  list-style: none;
  float: right;
}
.preheader .nav li {
  display: block;
  float: left;
  padding: 0 10px;
  line-height: 28px;
}
.preheader .nav li:not(:last-child) {
  border-right: 1px solid #eee;
}
.preheader .nav li a {
  text-decoration: none;
}
.header {
  padding: 48px 0;
}
.header .header-title {
  text-align: center;
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  font-size: 80px;
  line-height: 100%;
}
.header .header-title :nth-child(1) {
  color: #454545;
}
.header .header-title :nth-child(2) {
  color: #3bbdfb;
}
.header .header-slogan {
  text-align: center;
  font-family: 'Sansita', sans-serif;
  font-size: 20px;
  line-height: 100%;
  color: #454545;
}
.navbar {
  border-top: 3px solid #ddd;
  border-bottom: 3px solid #ddd;
  text-align: center;
}
.navbar .nav {
  display: inline-block;
  margin-bottom: -4px;
  list-style: none;
}
.navbar .nav li {
  float: left;
  padding: 0 20px;
  font-size: 16px;
  line-height: 80px;
  text-align: center;
}
.navbar .nav li:hover {
  margin-top: -3px;
  margin-bottom: -3px;
  border-top: 3px solid #bbb;
  border-bottom: 3px solid #bbb;
  color: #3bbdfb;
}
.navbar .nav li a {
  text-decoration: none;
}
.main {
  border-bottom: 3px solid #ddd;
  background-size: cover;
  background-image: url(../img/slideshowFull3.png);
  background-repeat: no-repeat;
}
.main .main-header {
  margin-left: -4px;
  padding-top: 120px;
  padding-bottom: 30px;
  font-size: 80px;
  line-height: 100%;
  font-family: 'Sansita', sans-serif;
  text-transform: uppercase;
}
.main .main-container {
  width: 300px;
  padding-bottom: 130px;
  font-size: 16px;
  line-height: 150%;
  font-family: 'Sansita', sans-serif;
}
.main .main-image {
  position: absolute;
  bottom: 0;
  right: 300px;
}
.slogan .container {
  border-bottom: 2px dashed #ddd;
}
.slogan .slogan-content {
  padding: 15px 0;
  text-align: center;
  font-family: 'Sansita', sans-serif;
  font-size: 20px;
}
