@font-face {
  font-family: Montserrat-Regular;
  /* Гарнитура шрифта */
  src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: ProximaNovaBold;
  /* Гарнитура шрифта */
  src: url(../fonts/ProximaNovaBold.otf);
}
@font-face {
  font-family: Roboto-Light;
  /* Гарнитура шрифта */
  src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  /* Гарнитура шрифта */
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-Regular;
  /* Гарнитура шрифта */
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Merriweather-Light;
  /* Гарнитура шрифта */
  src: url(../fonts/Merriweather-Light.ttf);
}
@font-face {
  font-family: MyriadProRegular;
  /* Гарнитура шрифта */
  src: url(../fonts/MyriadProRegular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  text-decoration: none;
  background-color: transparent;
}
html {
  font: 16px sans-serif;
}
body {
  min-width: 1200px;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 1056px;
}
.container:after {
  content: '';
  display: table;
  clear: both;
}
.masthead {
  position: relative;
  height: 660px;
  background-image: url(../img/Home_0009s_0001_Layer-14.png);
  background-size: cover;
  color: #fff;
}
.masthead:before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(45, 110, 112, 0.8);
}
.masthead .header {
  position: relative;
  height: 85px;
  padding: 26px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 32px;
  text-transform: uppercase;
}
.masthead .header .title {
  float: left;
  padding-top: 1px;
  padding-right: 24px;
  font-size: 29px;
  line-height: 31px;
  font-family: ProximaNovaBold;
  display: flex;
}
.masthead .header .phone {
  float: left;
}
.masthead .header .phone .icon {
  padding: 3px 7px 3px 26px;
  margin: 6px 0;
  float: left;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.masthead .header .phone .number {
  float: left;
  font-size: 13px;
  font-family: Montserrat-Regular;
}
.masthead .header .nav {
  float: right;
  display: flex;
  font-size: 13px;
  font-family: Montserrat-Regular;
}
.masthead .header .nav li {
  list-style: none;
}
.masthead .header .nav li:not(:last-child) {
  margin-right: 32px;
}
.masthead .header .nav li a {
  display: block;
  opacity: .7;
  transition: .3s;
}
.masthead .header .nav li a:hover {
  opacity: 1;
}
.masthead .header .nav li a.button {
  padding: 0 13px;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 2px;
  color: #eee;
}
.masthead .headline {
  position: relative;
  width: 520px;
  padding-top: 200px;
  font-size: 38px;
  font-family: Roboto-Regular;
}
.masthead .headline .title {
  margin-bottom: 5px;
}
.masthead .headline .content {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
}
.masthead .headline .button {
  display: block;
  height: 50px;
  width: 186px;
  padding: 17px 0px;
  background-color: #6fb048;
  border-radius: 2px;
  font-size: 14px;
  font-family: Montserrat-Regular;
  text-align: center;
  text-transform: uppercase;
  transition: .3s;
}
.masthead .headline .button:hover {
  background-color: #649e41;
}
.section {
  font-family: Roboto-Regular;
  padding: 74px 0;
}
.section .title {
  font-size: 32px;
  line-height: 2;
  font-family: Roboto-Light;
  font-weight: bold;
  text-align: center;
  color: #166;
}
.section .slogan {
  padding-bottom: 14px;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  color: #8aa;
}
.section .slogan:before {
  content: '';
  display: block;
  width: 65px;
  margin: 0 auto;
  padding-bottom: 14px;
  border-top: 1px solid #7b5;
}
.section .maintext .title {
  font-size: 32px;
  line-height: 2;
  font-family: Roboto-Light;
  font-weight: bold;
  text-align: left;
  color: #166;
}
.section .maintext .text {
  font-size: 14px;
  line-height: 1.7;
  color: #8aa;
  text-align: left;
}
.section .content {
  font-size: 14px;
  line-height: 1.7;
  color: #8aa;
}
.section .tickbox {
  float: left;
}
.section .tickbox .icon {
  float: left;
  width: 26px;
  margin-right: 10px;
  text-align: center;
}
.section .tickbox .text {
  font-size: 14px;
  line-height: 1.7;
  color: #8aa;
}
.section .columns {
  display: flex;
  margin: 0 -15px;
  padding: 20px 0;
}
.section .columns .column {
  flex: 1 0 1%;
  padding: 0 15px;
}
.section .columns .column .title {
  font-family: Roboto-Regular;
  font-size: 16px;
}
.section .columns .column .content {
  font-size: 14px;
}
.section .columns.center .icon {
  height: 60px;
  text-align: center;
}
.section .columns.center .title {
  padding-top: 12px;
  padding-bottom: 6px;
}
.section .columns.center .content {
  text-align: center;
}
.section .columns.left .icon {
  float: left;
  width: 38px;
  margin-right: 16px;
  text-align: center;
}
.section .columns.left .title {
  padding-bottom: 14px;
  text-align: left;
}
.section .fligel {
  width: 90px;
  height: 90px;
  margin: 7px auto 27px;
  border-bottom: 1px solid #eee;
}
.section .fligel:before {
  content: '';
  display: block;
  width: 0;
  height: 100%;
  margin: 0 auto;
  border-left: 1px solid #eee;
}
.middleblock {
  height: 666px;
  padding-top: 56px;
  padding-bottom: 0;
  background-color: #eef1ec;
}
.middleblock .container {
  height: 100%;
  background-image: url(../img/Home_0005s_0000_Hand.png);
  background-repeat: no-repeat;
  background-position: -230px bottom;
}
.middleblock .content {
  position: relative;
}
.middleblock .hand {
  position: absolute;
  bottom: 0;
  left: 0;
}
.middleblock .display {
  position: absolute;
  left: 174px;
  bottom: 120px;
  display: block;
}
.middleblock .maintext {
  margin-top: 120px;
  margin-left: 520px;
}
.middleblock .tickbox {
  margin-left: 520px;
  margin-top: 24px;
}
.middleblock2 {
  height: 681px;
  padding: 0;
}
.middleblock2 .girl_image {
  width: 400px;
  height: 400px;
  float: right;
  margin-top: 140px;
  display: block;
}
.middleblock2 .quotation_box {
  padding-top: 238px;
  color: #96b4b2;
  font-size: 15px;
  line-height: 1.7;
}
.middleblock2 .quotation_box .quotation_text {
  font-family: MyriadProRegular;
  font-size: 22px;
  line-height: 1.5;
}
.middleblock2 .quotation_box .quotation_author {
  font-family: Roboto-Medium;
  color: #6fb048;
  padding-top: 71px;
}
.middleblock2 .quotation_box .quotarion_post {
  font-family: Roboto-Regular;
}
.mapbox {
  background-color: #eef1ec;
  height: 505px;
}
.mapbox .earth_image {
  display: block;
  float: right;
}
.mapbox .maintext {
  padding-top: 76px;
}
.priceplan {
  height: 597px;
}
.priceplan .advoptions {
  display: flex;
  justify-content: center;
}
.container {
  padding-bottom: 43px;
}
.advblock {
  width: 255px;
  height: 360px;
  border: 1px solid #c1d3d2;
  text-align: center;
  padding: 30px 40px;
}
.advblock .title {
  font-size: 15px;
  font-family: Roboto-Medium;
  color: #6fb048;
  font-weight: bold;
  margin: 0 auto;
  text-transform: uppercase;
}
.advblock .price {
  font-size: 65px;
  font-family: Montserrat-Regular;
  color: #116666;
  font-weight: bold;
  margin-bottom: -6px;
}
.advblock .period {
  font-size: 14px;
  font-family: Roboto-Regular;
  color: #116666;
  font-weight: bold;
}
.advblock .info {
  font-size: 14px;
  font-family: Roboto-Regular;
  color: #8aa;
  margin-top: 13px;
  line-height: 1.9;
  font-weight: bold;
}
.advblock .button {
  font-size: 13px;
  font-family: Montserrat-Regular;
  color: #eee;
  display: block;
  height: 42px;
  width: 140px;
  background-color: #83a7a5;
  border-radius: 2px;
  text-align: center;
  padding: 13px 0;
  text-transform: uppercase;
  margin: 22px auto;
  transition: .3s;
}
.advblock .button:hover {
  background-color: #6fb048;
}
.manytickboxes {
  font-family: MyriadProRegular;
  font-size: 14px;
  text-align: left;
  padding-top: 0px;
}
.manytickboxes .column {
  display: flex;
  flex-direction: column;
}
.optionsectiontile {
  padding-bottom: 0px;
}
.helpbar {
  margin-top: -102px;
}
.helpbar .title {
  color: #6fb048;
}
.helpbar .emailadress {
  font-family: Roboto-Regular;
  font-size: 18px;
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
  color: #116666;
}
.helpbar .titleicon {
  text-align: center;
}
.downloadblock {
  height: 200px;
  width: 100%;
  background-image: url(../img/Home_0009s_0001_Layer-14.png);
  background-size: cover;
  margin: 50px auto;
}
.downloadblock:before {
  content: '';
  position: absolute;
  display: block;
  height: inherit;
  width: inherit;
  background-color: rgba(45, 110, 112, 0.8);
}
